/* line 1, /Users/david/Sites/b2b_weekend/less/main.less */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/* line 7, /Users/david/Sites/b2b_weekend/less/main.less */
[ng-view].ng-enter,
[ng-view].ng-leave {
  -webkit-transition: all .2s;
  transition: all .2s;
}
/* line 12, /Users/david/Sites/b2b_weekend/less/main.less */
[ng-view].ng-enter,
[ng-view].ng-leave.ng-leave-active {
  opacity: 0;
  position: absolute;
  -webkit-transform: translateX(-500px);
  -ms-transform: translateX(-500px);
  transform: translateX(-500px);
}
/* line 19, /Users/david/Sites/b2b_weekend/less/main.less */
[ng-view].ng-leave,
[ng-view].ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
/* line 26, /Users/david/Sites/b2b_weekend/less/main.less */
html {
  background: rgba(0, 0, 0, 0.5);
}
/* line 30, /Users/david/Sites/b2b_weekend/less/main.less */
header {
  float: left;
  margin-bottom: 17px;
  width: 100%;
}
/* line 36, /Users/david/Sites/b2b_weekend/less/main.less */
.logo {
  float: left;
}
/* line 40, /Users/david/Sites/b2b_weekend/less/main.less */
.menu-link {
  display: block;
  float: right;
  height: 20px;
  width: 24px;
}
/* line 46, /Users/david/Sites/b2b_weekend/less/main.less */
.menu-link span {
  background-color: black;
  display: block;
  height: 1px;
  margin-bottom: 5px;
  width: 100%;
}
/* line 55, /Users/david/Sites/b2b_weekend/less/main.less */
.container {
  background: white;
  height: 580px;
  margin: 0 auto;
  padding: 17px 50px 0;
  overflow: auto;
  width: 900px;
}
/* line 64, /Users/david/Sites/b2b_weekend/less/main.less */
.main,
.charts {
  height: 436px;
  position: relative;
}
/* line 70, /Users/david/Sites/b2b_weekend/less/main.less */
.main {
  float: left;
  width: 489px;
}
/* line 75, /Users/david/Sites/b2b_weekend/less/main.less */
.charts {
  float: right;
  width: 282px;
}
/* line 80, /Users/david/Sites/b2b_weekend/less/main.less */
.subscriptions {
  height: 370px;
  margin-bottom: 10px;
  overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
/* line 87, /Users/david/Sites/b2b_weekend/less/main.less */
.subscriptions table {
  border-collapse: collapse;
  width: 100%;
}
/* line 92, /Users/david/Sites/b2b_weekend/less/main.less */
.subscriptions th,
.subscriptions td {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 99, /Users/david/Sites/b2b_weekend/less/main.less */
.subscriptions td:not(:first-child) {
  border-left: 1px solid #ebebeb;
  font-size: 13px;
  text-transform: uppercase;
}
/* line 105, /Users/david/Sites/b2b_weekend/less/main.less */
.subscriptions tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}
/* line 110, /Users/david/Sites/b2b_weekend/less/main.less */
.cta-cols {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  float: left;
  width: 100%;
}
/* line 119, /Users/david/Sites/b2b_weekend/less/main.less */
.cta-button {
  background-color: #e8e8e8;
  float: left;
  height: 54px;
  padding: 10px;
  width: 233px;
}
/* line 126, /Users/david/Sites/b2b_weekend/less/main.less */
.cta-button + .cta-button {
  float: right;
}
/* line 130, /Users/david/Sites/b2b_weekend/less/main.less */
.cta-button .cta-button-main,
.cta-button .cta-button-sub {
  font-weight: normal;
  margin: 0;
}
/* line 137, /Users/david/Sites/b2b_weekend/less/main.less */
.cta-button .cta-button-main {
  font-size: 13px;
  line-height: 13px;
  margin: 0;
}
/* line 143, /Users/david/Sites/b2b_weekend/less/main.less */
.cta-button .cta-button-sub {
  color: #929191;
  font-size: 13px;
}
/* line 149, /Users/david/Sites/b2b_weekend/less/main.less */
.chart-header {
  font-size: 13px;
  font-weight: 200;
}
/* line 153, /Users/david/Sites/b2b_weekend/less/main.less */
.chart-header .price {
  color: #f15b4e;
  font-weight: 600;
}
/* line 160, /Users/david/Sites/b2b_weekend/less/main.less */
.small-head {
  color: #929191;
  font-size: 9px;
  font-weight: normal;
  line-height: 11px;
  margin: 0;
  padding-bottom: 10px;
  text-align: left;
}
/* line 170, /Users/david/Sites/b2b_weekend/less/main.less */
.line-chart {
  margin-top: 0px;
  width: 100%;
  height: 150px;
}
/* line 176, /Users/david/Sites/b2b_weekend/less/main.less */
.pie-container {
  position: relative;
}
/* line 180, /Users/david/Sites/b2b_weekend/less/main.less */
.pie-container .price {
  position: absolute;
  bottom: 56px;
  font-size: 29px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 30;
}
/* line 189, /Users/david/Sites/b2b_weekend/less/main.less */
.pie-chart {
  margin: 0 auto;
  height: 150px;
  width: 150px;
}
/* line 195, /Users/david/Sites/b2b_weekend/less/main.less */
.charts-key-label {
  float: left;
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
  margin: 0;
  padding: 0;
}
/* line 204, /Users/david/Sites/b2b_weekend/less/main.less */
.charts-key ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 210, /Users/david/Sites/b2b_weekend/less/main.less */
.charts-key ul li {
  float: left;
  margin-right: 10px;
  position: relative;
  padding-left: 20px;
  padding-right: 10px;
}
/* line 217, /Users/david/Sites/b2b_weekend/less/main.less */
.charts-key ul li:first-child {
  border-right: 1px solid #dedede;
}
/* line 221, /Users/david/Sites/b2b_weekend/less/main.less */
.charts-key ul li:last-child {
  padding-right: 0;
}
/* line 228, /Users/david/Sites/b2b_weekend/less/main.less */
.charts-key {
  background-color: #e8e8e8;
  height: 54px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 239, /Users/david/Sites/b2b_weekend/less/main.less */
.charts-key-main {
  font-size: 9px;
  font-weight: 700;
  line-height: 9px;
}
/* line 245, /Users/david/Sites/b2b_weekend/less/main.less */
.charts-key-swatch {
  border-radius: 100%;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
}
/* line 254, /Users/david/Sites/b2b_weekend/less/main.less */
li:nth-child(1) .charts-key-swatch {
  background-color: #f15b4e;
}
/* line 258, /Users/david/Sites/b2b_weekend/less/main.less */
li:nth-child(2) .charts-key-swatch {
  background-color: #ffc600;
}
/* line 262, /Users/david/Sites/b2b_weekend/less/main.less */
.charts-key-sub {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
}
/* line 268, /Users/david/Sites/b2b_weekend/less/main.less */
.charts-key-amount {
  font-size: 12px;
  font-weight: 300;
}
/* line 273, /Users/david/Sites/b2b_weekend/less/main.less */
canvas {
  display: block;
}
/* line 277, /Users/david/Sites/b2b_weekend/less/main.less */
footer {
  float: left;
  margin-top: 15px;
  width: 100%;
}
/* line 283, /Users/david/Sites/b2b_weekend/less/main.less */
.copyright {
  color: #929191;
  font-size: 11px;
  float: left;
  line-height: 14px;
}
/* line 291, /Users/david/Sites/b2b_weekend/less/main.less */
.sw-logo {
  float: right;
}
/* line 296, /Users/david/Sites/b2b_weekend/less/main.less */
.toggle-switch {
  border-radius: 16px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  height: 16px;
  position: relative;
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
  width: 25px;
}
/* line 305, /Users/david/Sites/b2b_weekend/less/main.less */
.toggle-switch.on {
  background-color: #a2ff00;
}
/* line 308, /Users/david/Sites/b2b_weekend/less/main.less */
.toggle-switch.on .toggle-button {
  position: absolute;
  left: 10px;
}
/* line 314, /Users/david/Sites/b2b_weekend/less/main.less */
.toggle-switch.off {
  background-color: #f05b4e;
}
/* line 319, /Users/david/Sites/b2b_weekend/less/main.less */
.toggle-button {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 14px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  width: 14px;
}
/* line 331, /Users/david/Sites/b2b_weekend/less/main.less */
.toggle-switch.on .toggle-off,
.toggle-switch.off .toggle-on {
  opacity: 0;
}
/* line 338, /Users/david/Sites/b2b_weekend/less/main.less */
.toggle-on:after,
.toggle-off:after {
  color: #bababa;
  display: block;
  font-family: helvetica, arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  height: 14px;
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  line-height: 14px;
  text-align: center;
}
/* line 354, /Users/david/Sites/b2b_weekend/less/main.less */
.toggle-on:after {
  content: '✓';
  font-size: 12px;
}
/* line 359, /Users/david/Sites/b2b_weekend/less/main.less */
.toggle-off:after {
  content: '+';
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
